---
// Define the props the component accepts
const {
  type = 'text',
  name = '',
  value = '',
  placeholder = '',
  label = '',
  required = false,
  pattern = '',
  minlength = 0,
  maxlength = 524288,
  disabled = false,
  readonly = false,
  className = '',
  error = '',
  icon = null
} = Astro.props;
---

<div class="relative flex w-full flex-col gap-y-1.5">
  {label && (
    <label for={name} class="text-xs font-medium text-fg-300">
      {label}
    </label>
  )}
  <input
    id={name}
    type={type}
    name={name}
    placeholder={placeholder}
    required={required}
    pattern={pattern}
    minlength={minlength}
    maxlength={maxlength}
    disabled={disabled}
    readonly={readonly}
    value={value}
    class={`${icon ? 'px-8' : 'px-2'} peer h-9 rounded bg-surface-100 text-sm text-fg-300 outline-none ring-offset-surface-200 duration-200 placeholder:text-sm focus:ring-2 focus:ring-fg-300/30 focus:ring-offset-1`}
  />
  {icon && (
    <div class="absolute left-2 top-1/2 -translate-y-1/2">
      <span class="text-fg-300">{icon}</span>
    </div>
  )}
  {error && <span class="text-red-500 text-xs">{error}</span>}
</div>